@model List<Vacancy>
@inject LanguageService language
@{
    ViewData["Title"] = "Index";
}

<!-- banner start -->
<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/images/banners/vacancy.jpg" alt="">
            <div class="container">
                <h3>@language.Getkey("VAKANSİYALAR")</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="vacancy">
                <table>
                    <tr>
                        <th>
                            @language.Getkey("VƏZİFƏ") 
                        </th>
                        <th>
                            @language.Getkey("CİNS") 
                        </th>
                        <th>
                            @language.Getkey("TƏHSİL")  
                        </th>
                        <th>
                            @language.Getkey("TƏCRÜBƏ")  
                        </th>
                        <th>
                            @language.Getkey("SAAT") 
                        </th>
                        <th>
                            @language.Getkey("GÜN") 
                        </th>
                    </tr>
                    @foreach (var vacancy in Model)
                    {
                        <tr>
                            <td>
                                @language.Getkey(vacancy.Position)
                            </td>
                            <td>
                                @language.Getkey(vacancy.Gender)
                            </td>
                            <td>
                                @language.Getkey(vacancy.Education)
                            </td>
                            <td>
                                @language.Getkey(vacancy.Experience)
                            </td>
                            <td>
                                @language.Getkey(vacancy.WorkTime)
                            </td >
                            <td>
                                @language.Getkey(vacancy.WorkDays)
                            </td>



                        </tr>
                    }


                </table>
            </div>
            <div class="vac-req">
                <a class="request" asp-controller="VacancyRequest" asp-action="Create">@language.Getkey("MÜRACİƏT ET")</a>
            </div>
        </div>
    </div>
</div>

