@model Doctor
@inject LanguageService language
@{
    ViewData["Title"] = "Details";
}

<!-- banner start -->
<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/images/banners/doctor.jpg" alt="">
            <div class="container">
                <h3>@language.Getkey("HƏKİMLƏR")</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<!-- doctor-info start -->

<div class="information">
    <div class="container">
        <div class="doctor-info">
            <div class="row">
                <div class="col-lg-4">
                    <div class="doctor-image">
                        <img src="/assets/images/doctors/@Model.Image" alt="">


                        <div class="info">

                            <strong>@language.Getkey("İş günləri")</strong>
                            <span>@Model.WorkDay</span>
                            <strong>@language.Getkey("Telefon")</strong>
                            <span>@Model.Phone</span>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="appoint d-flex justify-content-center" asp-controller="DocRequest" asp-action="Index">@language.Getkey("HƏKİM QƏBULU")</a>
                            }
            else
            {
                        <a asp-controller="Account" asp-action="Register" class="appoint d-flex justify-content-center" onclick="return alert('Müracət üçün qeydiyyatdan keçin')  ;">@language.Getkey("HƏKİM QƏBULU")</a>
            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="experience">
                        <span class="name">@language.Getkey(Model.Fullname)</span>
                        <span>@language.Getkey(Model.Position)</span>
                        <span class="line"></span>
                        <h6 class="title">@language.Getkey("Təhsil")</h6>
                        <table>
                            <tr>
                                <th>@language.Getkey("TİP")</th>
                                <th>@language.Getkey("AD")</th>
                                <th>@language.Getkey("FAKULTƏ")</th>
                                <th>@language.Getkey("MÜDDƏT")</th>
                                <th>@language.Getkey("ÖLKƏ")</th>
                            </tr>
                            @foreach (var dr in Model.Educations.OrderBy(d => d.StartUniver))
                            {
                                <tr>

                                    <td>@language.Getkey(dr.TypeOfUniver)</td>
                                    <td>@language.Getkey(dr.NameOfUniver)</td>
                                    <td>@language.Getkey(dr.Specialty)</td>
                                    <td>
                                        @dr.StartUniver.ToString("yyyy")-@dr.EndUniver.ToString("yyyy")
                                    </td>
                                    <td>@language.Getkey(dr.Country)</td>
                                </tr>
                            }

                        </table>
                        <h6 class="title">@language.Getkey("İş təcrübəsi")</h6>
                        <table>
                            <tr>
                                <th>@language.Getkey("İŞ YERİ")</th>
                                <th>@language.Getkey("BÖLÜM")</th>
                                <th>@language.Getkey("İXTİSAS")</th>
                                <th>@language.Getkey("MÜDDƏT")</th>
                                <th>@language.Getkey("ÖLKƏ")</th>
                            </tr>
                            @foreach (var dr in Model.Experiences.OrderBy(d => d.StartWork))
                            {
                                <tr>
                                    <td>@language.Getkey(dr.Company)</td>
                                    <td>@language.Getkey(dr.Section)</td>
                                    <td>@language.Getkey(dr.Position)</td>
                                    <td>@dr.StartWork.ToString("yyyy")-@dr.EndWork.ToString("yyyy")</td>
                                    <td>@language.Getkey(dr.Country)</td>
                                </tr>
                            }


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- doctor-info end-->
