@model Doctor
@{
    ViewData["Title"] = "Details";
}

<!-- banner start -->
<div class="container-fluid p-0">
    <div class="banner">
        <div class="banner-image">
            <img src="/assets/image/banners/doctor.jpg" alt="">
            <div class="container">
                <h3>HƏKİMLƏR</h3>
            </div>

        </div>
    </div>
</div>
<!-- banner end -->
<!-- doctor-info start -->

<div class="information">
    <div class="container">
        <div class="doctor-info">
            <div class="row">
                <div class="col-lg-4">
                    <div class="doctor-image">
                        <img src="/assets/image/doctors/@Model.Image" alt="">


                        <div class="info">

                            <strong>İş günləri</strong>
                            <span>@Model.WorkDay</span>
                            <strong>Telefon</strong>
                            <span>@Model.Phone</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="experience">
                        <span class="name">@Model.Fullname</span>
                        <span>@Model.Position</span>
                        <span class="line"></span>
                        <h6 class="title">Təhsil</h6>
                        <table>
                            <tr>
                                <th>TİP</th>
                                <th>AD</th>
                                <th>FAKULTƏ</th>
                                <th>MÜDDƏT</th>
                                <th>ÖLKƏ</th>
                            </tr>
                          @foreach (var dr in Model.Educations.OrderBy(d=>d.StartUniver))
                          {
                        <tr>

                            <td>@dr.TypeOfUniver</td>
                            <td>@dr.NameOfUniver</td>
                            <td>@dr.Specialty</td>
                            <td>
                                @dr.StartUniver.ToString("yyyy")-@dr.EndUniver.ToString("yyyy")
                            </td>
                            <td>@dr.Country</td>
                        </tr>
                          }
                            
                        </table>
                        <h6 class="title">İş təcrübəsi</h6>
                        <table>
                            <tr>
                                <th>İŞ YERİ</th>
                                <th>BÖLÜM</th>
                                <th>İXTİSAS</th>
                                <th>MÜDDƏT</th>
                                <th>ÖLKƏ</th>
                            </tr>
                           @foreach (var dr in Model.Experiences.OrderBy(d => d.StartWork))
                           {
                        <tr>
                            <td>@dr.Company</td>
                            <td>@dr.Section</td>
                            <td>@dr.Position</td>
                            <td>@dr.StartWork.ToString("yyyy")-@dr.EndWork.ToString("yyyy")</td>
                            <td>@dr.Country</td>
                        </tr>
                           }
                            
                          
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- doctor-info end-->
