@model NewsWall
@{
    ViewData["Title"] = "Detail";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">


                        <h4 class="card-title"><img src="~/assets/images/@Model.Image" style="width:300px; height:220px" /></h4>

                        <ul class="list-star" style="list-style:none;line-height:2;">
                            <li><span style="color: red;font-weight:600">Tarix:</span>  @Model.ReleaseDate</li>
                            <li><span style="color: red;font-weight:600">Başlığ: </span>  @Model.Title</li>
                            <li><span style="color: red;font-weight:600">Mətn(1-ci hissə):</span>  @Model.Descr1</li>
                            <li><span style="color: red;font-weight:600">Mətn(2-ci hissə):</span>  @Model.Descr2</li>
                            <li><span style="color: red;font-weight:600">Mətn(3-ci hissə):</span>  @Model.Descr3</li>


                        </ul>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


