
@inject LanguageService language
@model List<DocRequest>
@{
    ViewData["Title"] = "Index";
}
<div class="docRequest">

    <div class="topic">
        <h1>@language.Getkey("HƏKİM QƏBULU")</h1>

        <p>@language.Getkey("ONLİNE QEYDİYYAT")</p>
    </div>
    <div class="request-form">
        <form method="post">
            <span style="margin-left:0;font-size:15px" for="fname">@language.Getkey("Ad Soyad,Ata adı:") </span>
            <input type="text" id="fname" class="doc-reg fullname" required>
            <span style="margin-left: 0; font-size: 15px" for="bday">@language.Getkey("Doğum günü:")</span>
            <input type="date" id="bday" class="doc-reg birhtday" required>
            <span style="margin-left: 0; font-size: 15px" for="addr">@language.Getkey("Ünvan:") </span>
            <input type="text" id="addr" class="doc-reg address" required>
            <span style="margin-left: 0; font-size: 15px" for="contact">@language.Getkey("Əlaqə nömrəsi:") </span>
            <input type="text" id="contact" class="doc-reg phone" placeholder="(+994--) --- -- --" required>
            <span style="margin-left: 0; font-size: 15px" for="unit">@language.Getkey("Bölmə:") </span>
            <input type="text" id="unit" class="doc-reg unit" placeholder=" USM" required>
            <span style="margin-left: 0; font-size: 15px" for="doc">@language.Getkey("Həkim:") </span>
            <input type="text" id="doc" class="doc-reg doctorsFullname" placeholder=" Dr.Mütəllimov">
            <span style="margin-left: 0; font-size: 15px" for="day">@language.Getkey("Müayinə günü:") </span>
            <input type="date" id="day" class="doc-reg requestTime" required>
            <span style="margin-left: 0; font-size: 15px" for="time">@language.Getkey("Müayinə saatı:") </span>
            <input type="time" id="time" class="doc-reg requestDay">
        </form>


            <button class="btn btn-primary mt-4" type="submit" data-text="send" id="reply">@language.Getkey("Müraciət et") </button>
       
    </div>
</div>