@model Vacancy
@{
    ViewData["Title"] = "Delete";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin grid-margin-md-0 stretch-card">
                <div class="card">
                    <div class="card-body">

                        <ul class="list-star" style="list-style:none;line-height:2;">
                            <li><span style="color: red;font-weight:600">Vəzifə:</span>  @Model.Position</li>
                            <li><span style="color: red;font-weight:600">Cins: </span>  @Model.Gender</li>
                            <li><span style="color: red;font-weight:600">Təhsil:</span>  @Model.Education</li>
                            <li><span style="color: red;font-weight:600">Təcrübə:</span>  @Model.Experience</li>
                            <li><span style="color: red;font-weight:600">İş vaxtı:</span>  @Model.WorkTime</li>
                            <li><span style="color: red;font-weight:600">İş günləri:</span>  @Model.WorkDays</li>


                        </ul>

                        <form method="post" style="text-align:center">
                            <div class="buttons" style="display:inline;">
                                <button class="btn btn-danger " onclick="return confirm('Əminsiniz?');">Ləğv et</button>

                                <button class="btn btn-light ms-3" asp-action="Index">Bağla</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


